h1{
    color:blue;
}

.logoTechno{
    width:20px;
}

.view{
    width:100px;
}


#projectList{
    display: flex;
    flex-direction: column;
}
.projectCard{
    /* min-width: 100%; */
    /* display: flex;
    flex-direction: column; */
}
.quickDescription{
    display: flex;
    justify-content: space-between;
}