body{
    background-color: rgb(34,39,46);
    font-size: 1.3em;
    margin:0;
    /* padding: 2vh 3vw; */;
    font-family: "Oxygen", sans-serif;
    overflow-x: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 1.3em; */
    /* border: 1px solid red; */
    color:rgb(164,179,179);
}

h2 {
    color: rgb(55,155,246);
    font-size: 1.4em;
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /*border: 1px solid wheat;
    */margin-bottom: 0;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
}

h3 {    
    color:rgb(173,186,199);
}

p {    
    font-size: 0.9em;
    color:rgb(173,186,199);
}

h3::after{
    content : "";
    position : absolute;
    width : 50%;
    height : 2px;
    background-color: rgb(236,119,92);
    left: 0px;
    margin-top: 35px;
    z-index: 1;
}

h4 {
    margin: 0;
    font-size: 1.2em;
    color:rgb(164,179,179);
}

section {

    padding: 2vh 3vw;
}

.projectTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52,125,57);
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.projectTitleContainer > h4 {
    color: white;
}

.logoTechno {
    width: 25px;
    height: 25px;
    margin-left: 6px;
    margin-right: 6px;
}

.logoTechno > img{
     max-width: 25px;
     max-height: 25px;
}

.projectView{
    width: 100%;
    border: 3px solid rgb(63,71,81);
}

#projectList{
    display: flex;
    flex-direction: column;
}

.card{
    background-color: #373e47;
    border: 3px solid rgb(63,71,81);
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    padding: 5%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.technoList {
    margin-top: 2vh;
    display: flex;
    align-self: center;
    padding: 5px 5px;
    border-radius: 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;  
    justify-content: space-evenly;
    background-color: #EFE9F4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.quickDescription{
    display: flex;
    flex-direction: column;
}

.quickDescription > p {
    margin: 0 0 1.2vh 0;
    color:rgb(164,179,179);
}
header {
    /*position: -webkit-sticky;
    position: sticky;
    *//*display: inline-block;
    *//*display: flex;
    *//*vertical-align: top;
    *//*left: 0;
    width: 70vw;
    *//*display: block;
    *//*border: 2px solid green;
    */padding: 2vh 2vw;
    /*padding-top: 2vh;
    padding-right: 2vw;
    */left: 0;
    background-color: rgb(34,39,46);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    /*width: 100vw;
    */z-index: 2;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows:1;
    -moz-column-gap: 50px;
    column-gap: 10px;
 
}

nav {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    top:18vh;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.navToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6vh;
    left: 22vw;
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /* border: 2px solid white; */
}

.navToggle > div {
    
    /*position: absolute;
    */width: 1vh;
    
    height: 1vh;
    /* margin-bottom: 1vh; */
    background-color:rgb(164,179,179);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

ul {

    margin:0;
    padding: 0;
}

li {
    list-style-type: none;
    background-color: #373e47;
    border-color: 1px solid #373e47;
    text-align: center;
    padding: 1.5vh 7vw;
}

a {
    text-decoration: none;
    color:rgb(173,186,199);
    /* color:aqua; */
    /* color:inherit */

}

form {


    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

form > label {
    color:rgb(164,179,179);
    /* font-size: 0.9em; */
}

form :nth-child(even){
    font-family: "Oxygen", sans-serif;
    margin-top: 0.5vh;
    margin-bottom: 1vh;

}

form > input {
    height: 3vh;
}

form > input[type="submit"]{
    margin-top: 1.5vh;
    align-self: center;
    width: 50%;
    font-size: 1em;
    height: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}