.transition100{
    transition: 100ms ease-in-out;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    -ms-transition: 100ms ease-in-out;
    -o-transition: 100ms ease-in-out;
}

.transition300{
    transition:300ms ease-in-out;
    -webkit-transition:300ms ease-in-out;
    -moz-transition:300ms ease-in-out;
    -ms-transition:300ms ease-in-out;
    -o-transition:300ms ease-in-out;
}

.transition500{
    transition: 500ms ease-in-out;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
}

.transition800{
    transition: 800ms ease-in-out;
    -webkit-transition: 800ms ease-in-out;
    -moz-transition: 800ms ease-in-out;
    -ms-transition: 800ms ease-in-out;
    -o-transition: 800ms ease-in-out;
}

.transition2000{
    transition: 3000ms ease-in-out;
    -webkit-transition: 3000ms ease-in-out;
    -moz-transition: 3000ms ease-in-out;
    -ms-transition: 3000ms ease-in-out;
    -o-transition: 3000ms ease-in-out;
}

.borderRad_01{
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
}

.borderRad_02{
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.bg_image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}